@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .layout-container {
    display: grid;
    grid-template-rows: min-content 1fr;
  }
}

@layer base {
  :root {
    --background: 39 29% 88%;
    --foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  }
}
